* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
background-image: url('https://www.css3maker.com/images/body_bg_new.jpg');
/* background-image: url('../img/irongrip_@2X.png'); */
/* background-size: cover; */
background-attachment: fixed;
font-family: 'Rubik', sans-serif;
}
a { 
  text-decoration: none;
}
.container {
  align-items: center;
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 700px;
  width: 90%;
}
.tarjeta {
  /* background: #EEEEEF; */
  background: rgba(113, 137, 131, 0.4);
  border-radius: 10px;
  border: 1px #fff solid;
  margin: 40px 0;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
}
/* SLIDER BANNER */
.slider__banner {
  overflow: hidden;
  position: relative;
  z-index: 1000;
}
.slider__banner .banner {
  position: relative;
  width: 100%;
}
.slider__banner .banner img {
  left: 100%;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 100%;
}
.slider__banner .flecha-banner {
  color:#8CA6BC;
  font-size: 35px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  z-index: 1100;
}
.slider__banner .flecha-banner:hover {
  color: #1e3882;
}
.slider__banner .anterior {
  left: 20px;
}
.slider__banner .siguiente {
  right: 20px;
}
/* SLIDER INFORMACION */
.slider__info {
  text-align: center;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  z-index: 1000;
}
.slider__info .informacion {
  width: 100%;
}
.slider__info .informacion article {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider__info .slide img{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.slider__info .informacion article .slide {
  /* background: #EEEEEF; */
  background: rgba(56, 35, 68, 0);
  left: 100%;
  padding: 20px 80px;
  position: absolute;
  width: 100%;
}
.slider__info .flecha-info {
  color:#8CA6BC;
  font-size: 35px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  z-index: 1000;
}
.slider__info .flecha-info:hover {
  color: #1e3888;
}
.slider__info .flecha-info.anterior {
  left: 20px;
}
.slider__info .flecha-info.siguiente {
  right: 20px;
}
.slider__info .informacion .nombre {
  color: #f5f6fa;
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 16px;
}
.slider__info .informacion .trabajo {
  color: #55acee;
  font-size: 25px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 16px;
}
.slider__info .informacion .pais {
  color: #55acee;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 14px;
  vertical-align: middle;
}
.slider__info .informacion .pais img{
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.slider__info .informacion .texto {
  color: #55acee;
  font-size: 18px;
}
.slider__info .informacion .subtitulo {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  line-height: 24px;
  margin-bottom: 16px;
}
/* BOTONES SLIDER INFO */
.slider__info .botones {
  width: 100%;
}
.slider__info .botones span {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  background: #e6e6e6;
}
.slider__info .botones .active {
  background: #6ed279;
}
/* REDES SOCIALES */
.redes__sociales {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
.redes__sociales a {
  background: #000;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 60px;
  margin: 0 10px;
  padding: 14px 0;
  width: 60px;
}
.redes__sociales .facebook { background: rgba(59, 89, 152, .7); }
.redes__sociales .twitter { background: rgba(85, 172, 238, .5); }
.redes__sociales .linkedin { background: rgba(0, 123, 181, .5); }
.redes__sociales .instagram { background: rgba(231, 76, 60, .6); }
.redes__sociales .github { background: rgba(0, 0, 0, .5); }

.redes__sociales .facebook:hover { background: #2980b9;}
.redes__sociales .twitter:hover { background: #3498db;}
.redes__sociales .github:hover { background: #2c3e50;}
.redes__sociales .linkedin:hover {background: #7099f2;}
.redes__sociales .instagram:hover {background: #e95950;}
